<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>usuarios formulario</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<h1>Formulario de Usuarios</h1>
			<br>
			<form action="#" th:action="@{/usuarios/addusuarios}" th:object="${usuarios}" method="post">
				
				<input type="hidden"  th:field="*{idusuario}" /> 
				
				Nombre: <input type="text" class="form-control" th:field="*{nombre}" th:value="*{nombre}"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small> 
				<br>
				
				Correo: <input type="text" class="form-control" th:field="*{correo}" th:value="*{correo}"/> 
				<small class="form-text text-danger" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"></small> 
				<br>
				 
				Contraseña:<input type="password" class="form-control" th:field="*{contrasena}" th:value="*{contrasena}"/>
				<small class="form-text text-danger" th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}"></small> 
				<br>
				
				Rol: <select class="form-control" th:field="*{idrol}">
					  <option th:value="1" >ADMINISTRADOR</option>  
					  <option th:value="2" >ALMACENISTA</option>
					</select>  
				<small class="form-text text-danger" th:if="${#fields.hasErrors('idrol')}" th:errors="*{idrol}"></small>
				<br>
				
				Estatus:  <select class="form-control"  th:field="*{estatus}">
					  <option th:value="1" >ACTIVO</option>
					  <option th:value="2" >INACTIVO</option>
					</select>  
				<small class="form-text text-danger" th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}"></small>
				<br>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"> </span>
					Guardar
				</button> 
				
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					<span class="glyphicon glyphicon-remove" aria-hidden="true">
					</span> Cancelar
				</button>
				
			</form>
		</div>
	</div>

</body>
</html>